.love-message {
  font-size: 3rem;
  color: #f00; /* لون أحمر */
  text-align: center;
  animation: floating 3s infinite alternate;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
